/* For full-screen images on small screens */
@media screen and (max-width: 375px) {
    .card-wrapper {
        border-radius: 0px;
        height: 100%;
        align-items: normal;
    }
    .card {
        min-height: 340px;
        &.results {
            padding-top: 20px;
            border-radius: 0px 0px 30px 30px;
            .information {
                padding-bottom: 10px;
                .title {
                  padding-bottom: $mb-1;
                }
            }
        }
        &.summary {
            border-radius: 0px 0px 0px 0px;
            padding-inline: 10%;
            margin-top: 5%;
            margin-bottom: 5%;
        }
    }
    .round-score {
        max-width: 125px;
        max-height: 125px;
    }
}